@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/storage/img/INSTALACIONES.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}

/* .min-h-screen{
    @apply bg-black bg-opacity-30;
} */